html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  // content height fix
  height: -webkit-fill-available;
}

body {
  font-family: $font-family-roboto;
  font-weight: 400;

  background-color: $color-grey;
  color: $color-blue;

  min-width: 320px;
  overflow-y: scroll;

  // content height fix
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;

  // @include media-breakpoint-down(sm) {
  //   font-size: sizeByVw(320);
  // }
}

#__nuxt {
  // content height fix
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.grecaptcha-badge {
  visibility: hidden;
}
